@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ffffff;
  }
}

body {
  font-family: 'Work Sans', sans-serif;
  background: var(--background);
  color: var(--foreground);
}

footer {
  background-color: #0c1d37;
}

footer p {
  color: white;
}

.btn-contacto {
  background-color: #0c1d37 !important;
}

nav {
  background-color: #0c1d37;
}

h1 {
  @apply sm:text-5xl font-bold text-3xl;
  color: #0c1d37;
}

h2 {
  @apply sm:text-4xl font-bold text-3xl;
  color: #0c1d37;

}

h3 {
  @apply sm:text-3xl font-bold text-xl;
  color: #0c1d37;
}

h4 {
  @apply sm:text-xl font-bold text-lg;
  color: #0c1d37;
}

.header-hero {
  @apply sm:text-8xl font-extrabold text-4xl text-white;
}

.header-dark {
  color: white;
}

h1, h2, h3, h4, h5, h6{
  /* color: #001244; */
}
.header-principal {
  color: #ffffff !important;
}

/* Cambiar el color base de las bullets del slider*/
.swiper-pagination-bullet {
  background-color: #ccc !important; /* color gris claro por defecto */
  opacity: 1;
}




